<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/dashboard.html}">

<head>
</head>

<body>
	<div layout:fragment="content" class="col-lg-10 my-4"
		style="min-height: 600px; border: 1px solid rgba(128, 128, 128, 0.212);">
		<div class="col-3 mt-4">
		
		</div>
		<table class="table table-bordered mt-3">
			<thead>
				<tr class="text-center">
					<th width="8%">STT</th>
					<th>Tên Sản phẩm</th>
					<th width="20%">Tổng số lượng sản phẩm </th>
					<th>Tổng tiền </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item, count : ${listBestSellingProduct}">
					<td class="text-center" th:text="${count.index+1}"></td>
					<td th:text="${item[0]}"></td>
					<td class="text-center" th:text="${item[2]}"></td>
					<td class="text-center"
						th:text="${#numbers.formatDecimal(item[1], 1, 'DEFAULT', 0, 'DEFAULT')}+' VNĐ'"></td>
				</tr>
			</tbody>
		</table>

	</div>
</body>

</html>